<%- include('header') -%>

<section>
  <h1><%= title %></h1>
</section>

<section>
  <h2>Næstu viðburðir</h2>
  <ul>
    <% for (const event of events) { %>
      <li>
        <a href="<%= `/${event.slug}` %>"><h3><%= event.name %></h3></a>
        <p><em><%- event.description %></em></p>
        <% if (admin) { %>
           <a href="<%= `/admin/${event.slug}` %>" >Breyta viðburði</a>
        <% } %>
      </li>
    <% } %>
  </ul>
</section>


<% if (admin) { %>
  <section>
  <form class="form" method="post" action="/admin" autocomplete="off">
    <h2>Nýr viðburður</h2>
    <div class="field">
      <label for="name">Nafn</label>
      <input type="text" name="name" id="name">
    </div>

    <div class="field">
      <label for="description">Lýsing</label>
      <textarea name="description" id="description"></textarea>
    </div>

    <% for (const err of errors) { %>
      <p class="error-msg"><%= err.msg %></p>
    <% } %>

    <button class="button">Búa til viðburð</button>
  </form>
  </section>

  <section>
    <p>Skráð/ur inn sem: admin</p>
    <a href="/admin/logout">Skrá út</a>
  </section>
<% } else { %>
  <section>
    <a href="/admin/login">Skrá inn</a>
  </section>
<% } %>

<%- include('footer') -%>
